* {
  margin: 0;
  padding: 0;
  text-align: center;
}
h1 {
  background-color: darkcyan;
  color: white;
  height: 5rem;

  line-height: 5rem;
}
.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  gap: 4rem;
  border: black;
}

.choice {
  width: 165px;
  height: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.choice:hover {
  cursor: pointer;
  background-color: black;
}
img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}
